body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0px;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  color: #4c4c6d;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #4c4c6d;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #5f939a;
}

p {
  color: #444444;
  font-weight: 300;
}

hr {
  border: none;
  border-top: 5px dotted;
  width: 60px;
  color: grey;
  margin: 4rem auto 4rem auto;
}

/*******************************************************CLASS SELECTORS***************************************************/

.top-container {
  background-color: #e8f6ef;
  padding: 150px 0 50px 0;
  position: relative;
}

.skill-row {
  display: inline-block;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 375px;
  top: 50px;
}

.bottom-cloud {
  position: relative;
  right: 75px;
  bottom: 350px;
}

.profile-picture {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.pizza-delivery {
  height: auto;
  width: 25%;
  border-radius: 50%;
  background-color: #ffe194;
  float: left;
  margin-right: 30px;
}

.throwing-icon {
  height: auto;
  width: 25%;
  border-radius: 50%;
  background-color: #ffe194;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #5f939a;
}

.a-web-developper {
  font-weight: bold;
  font-size: 1.25rem;
}

.btn {
  color: #5f939a;
}

.mountain1 {
  position: relative;
  right: 75px;
}
.profile {
  line-height: 2;
}

.hello-there {
  font-size: 1.5rem;
}

.bottom-hr {
  margin-top: 0px;
}
